.login-background{
    height: 100vh;
    // background: linear-gradient(#98b99f, #315222 0%, #4ae004 100%);
    background-image: url('../../assets/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    .login-container{
        width: 350px;
        border-radius: 30px;
        background-color: white;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 500px;
        opacity: 0.7;

        .login-content{
            padding: 20px;


            .text-login{
                font-size: 35px;
                font-weight: bold;
                padding-top: 10px;
                color: #2c750a;
            }

            .login-input{
                margin: 10px 0;

                .text-input{
                    border-radius: 30px;
                    height: 40px;
                }

                .custom-input-password{
                    position: relative;
                    i {
                        position: absolute;
                        right: 15px;
                        top: 13px;
                        cursor: pointer;
                    }
                }
            }

            .btn-login{
                width: 100%;
                margin: 10px 0;
                height: 40px;
                border-radius: 20px;
                outline: none;
                border: none;
                color: white;
                font-weight: bold;
                font-size: 20px;
                background: linear-gradient(#98b99f, #315222 0%, #4ae004 100%);
            }

            .text-forgot{
                font-size: 12px;
                color: black;
                font-weight: bold;
                cursor: pointer;

            }

            .social-login{
                display: flex;
                text-align: center;
                justify-content: center;
                margin-top: 10px;

                .facebook{
                    font-size: 30px;
                    background-color: rgb(10, 6, 250);
                    border-radius: 50%;
                    height: 50px;
                    width: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    margin: 15px;
                    cursor: pointer;
                }

                .google{
                    font-size: 30px;
                    background-color: rgb(219, 67, 21);
                    border-radius: 50%;
                    height: 50px;
                    width: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    margin: 15px;
                    cursor: pointer;
                }

                .twitter{
                    font-size: 30px;
                    background-color: rgb(5, 191, 216);
                    border-radius: 50%;
                    height: 50px;
                    width: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    margin: 15px;
                    cursor: pointer;
                }

            }
        }

    }
}
