.login-background{
    height: 100vh;
    background: linear-gradient(#84e998, #4d9e27 0%, #2c750a 100%);
    padding-top: 60px;

    .login-container{
        width: 400px;
        height: 85%;
        margin: 0 auto;
        background-color: white;
        border-radius: 30px;

        .login-content{
            padding: 20px;


            .text-login{
                font-size: 35px;
                font-weight: bold;
                padding-top: 10px;
                color: #2c750a;
            }

            .login-input{
                margin: 10px 0;

                .text-input{
                    border-radius: 30px;
                    height: 40px;
                }
            }

            .btn-login{
                width: 100%;
                margin: 10px 0;
                height: 40px;
                border-radius: 20px;
                outline: none;
                border: none;
                color: white;
                font-weight: bold;
                font-size: 20px;
                background: linear-gradient(#6eee87, #5fc52e 0%, #4ab419 100%);
            }

            .text-forgot{
                font-size: 12px;
                color: black;
                font-weight: bold;

            }

            .social-login{
                display: flex;
                text-align: center;
                justify-content: center;
                margin-top: 10px;

                .facebook{
                    font-size: 30px;
                    background-color: rgb(10, 6, 250);
                    border-radius: 50%;
                    height: 50px;
                    width: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    margin: 15px;
                }

                .google{
                    font-size: 30px;
                    background-color: rgb(219, 67, 21);
                    border-radius: 50%;
                    height: 50px;
                    width: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    margin: 15px;
                }

                .twitter{
                    font-size: 30px;
                    background-color: rgb(5, 191, 216);
                    border-radius: 50%;
                    height: 50px;
                    width: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    margin: 15px;
                }

            }
        }

    }
}